<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Contatos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato/save" tabindex="-1" >Novo</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        name="busca"
        [(ngModel)]="termo">
      </form>
    </div>
  </nav>

<router-outlet></router-outlet>

<!--
  <contato-busca [busca]="termo" (buscaChange)="termo=$event"></contato-busca>
  
  utilizacao do padrão 
  @input: nomeVariavel
  @output: nomeVariavelChange
  
  somente essa sintax é valida para utilizar a sintax abaixo
-->
<contato-busca [(busca)]="termo"></contato-busca>